<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="../../assets/angular.min.js"></script>
    <script src="./src.js"></script>
</head>
<body ng-controller="MainController">

<button ng-click="showHideDiv()">Show Element</button>
<!--<button ng-click="changeColor()">Change Color</button>-->
<br/>

<div ng-style="" ng-show="isDivVisible">
    <h1 >Hi, I'm your DIV!</h1>
</div>

</body>
</html>