    <ul>
        <li ng-repeat="item in model">

            <div class="form-horizontal well col-lg-6">
                <div class="form-group" ng-repeat="(key,value) in item">
                    <label class="control-label col-lg-4">{{key}}: </label>

                    <div class="col-lg-6">
                        {{value}}
                    </div>
                </div>

                <button class="btn btn-primary" ng-click="edit(item)">Edit</button>
                <button class="btn btn-danger" ng-click="delete(item)">Delete</button>
            </div>
        </li>
    </ul>
    <form class="form-inline">
        <div class="form-group">
            <label >Add new Item:</label>
            <input type="text" ng-model="currentItem.title" placeholder="new item" class="form-control">
            <input type="number" ng-model="currentItem.rank" placeholder="new item" class="form-control">
            <input type="date" ng-model="currentItem.published_at" placeholder="new item" class="form-control">
            <select ng-model="currentItem.author" ng-options="author._id as author.name for author in authors" class="form-control">
            </select>

            <button class="btn btn-primary" ng-click="books.add(books.newItem)">Add</button>
        </div>
    </form>
