<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="./src.js"></script>
</head>
<body ng-controller="MainController as main" class="container">
<br/>

<form name="myForm" novalidate>
    <h1>{{main.first}} + {{main.second}} =
        <input type="number" name="solution" ng-model="main.solution"
                expected="{{main.first + main.second}}" my-solution required/>
    </h1>
    <h2 ng-show="myForm.solution.$dirty && myForm.solution.$touched && myForm.solution.$error.mySolution">
        Try again...
    </h2>
    <br/>
    <button type="reset" class="btn btn-primary" ng-click="main.add()" ng-disabled="myForm.$invalid">Add to my score</button>
</form>
<br/>

<h1>my total score is: {{main.score}}</h1>

</body>
</html>