<form name="createForm" class="form-horizontal well col-lg-6" novalidate>
    <div class="form-group" ng-repeat="(key,value) in createModel">
        <label class="control-label col-lg-4">{{key}}: </label>

        <div class="col-lg-6">
            <div ng-switch="getType(value)">
                <input type="text" ng-switch-default ng-model="createModel[key]" required>
                <input type="number" ng-switch-when="number" ng-model="createModel[key]" min="1" max="100">
                <input type="checkbox" ng-switch-when="boolean" ng-model="createModel[key]" required>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" ng-click="createFn()" ng-disabled="createForm.$invalid">OK</button>
    <button class="btn" ng-click="cancelFn(createModel)">Cancel</button>
</form>