.friend-box.ng-leave {
    transition:0.3s linear all;
    opacity:1;
}
.friend-box.ng-leave.ng-leave-active {
    opacity:0;
}
.friend-box.ng-enter {
    transition:0.3s linear all;
    opacity:0;
}
.friend-box.ng-enter.ng-enter-active {
    opacity:1;
}

.create-btn{
    position: fixed;
    top: 80px;
    left: 110px;
    transform: rotate(270deg);
}


