<form class="form-horizontal well ">

    <div class="form-group" ng-repeat="(key,value) in friendsCtrl.currentItem">
        <label class="control-label col-lg-4">{{key}}: </label>
        <div class="col-lg-6">
            {{value}}
        </div>
    </div>

    <a class="btn btn-primary" href="#/friends/edit/{{friendsCtrl.currentItem.id}}">Edit</a>
    <a class="btn btn-danger" ui-sref="friends.delete({id: friendsCtrl.currentItem.id})">Delete</a>
    <a class="btn btn-default" ng-click="friendsCtrl.$state.go('friends.list')">Back</a>
</form>