<div ng-controller="ChatCtrl as chatCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title" ng-if="!chatCtrl.user">Waiting For Login...</h3>

                    <h3 class="panel-title" ng-if="chatCtrl.user">{{chatCtrl.user}}</h3>
                </div>

                <div class="panel-body">
                    <div ng-if="!chatCtrl.user">
                        <chat-login login-fn="chatCtrl.login" users-list="chatCtrl.usersList"/>
                    </div>
                    <div ng-if="chatCtrl.user">
                        <chat-board user-name="chatCtrl.user" board="chatCtrl.board"/>
                    </div>
                </div>

                <div class="panel-footer" ng-if="chatCtrl.user">
                    <div class="row">
                        <form >
                            <div class="col-lg-10">
                                <input type="text" class="form-control" ng-model="chatCtrl.message"
                                       placeholder="Send some message...">
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-success" ng-click="chatCtrl.sendMessage()" ng-disabled="chatCtrl.isMessageEmpty()">Send</button>
                                {{messageSend.message.$invalid}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
