<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="panel-title text-center">Login</h1>
            </div>
            <div class="panel-body" ng-show="!loggedIn">
                <form class="form col-md-12 center-block">
                    <div class="form-group">
                        <input type="text" ng-model="loginForm.email" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="loginForm.password" class="form-control input-lg"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <h3 ng-show="loginForm.error" class="bg-danger">Invalid Password</h3>
                        <button ng-click="login()" class="btn btn-primary btn-lg btn-block">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="panel-body" ng-show="loggedIn">
                <h2 class="text-success">You Are Logged In!</h2>
            </div>
        </div>
    </div>
</div>

