<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="../../assets/angular.min.js"></script>
</head>
<body>


<h1>myName: {{myName}}</h1>
<h1>first+second: {{first+second}}</h1>
<h1>item.price: {{item.price}}</h1>
<h1>colors[0]: {{colors[0]}}</h1>

<!--firstNum:
<input type="number" ng-model="firstNum">
secondNum:
<input type="number" ng-model="secondNum">-->

<!--<h3>firstNum + secondNum = {{firstNum + secondNum}}</h3>-->




















<div ng-init="myName='Evgeni'"></div>
<div ng-init="first=22"></div>
<div ng-init="second=55"></div>
<div ng-init="item={price:50}"></div>
<div ng-init="item={price:50}"></div>
<div ng-init="colors=['blue','red']"></div>

</body>
</html>